ul.topnav li {float: left;}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 3;
    overflow: hidden;
    background-color: white;
}
ul.topnav li a {
    display: inline-block;
    color: 0D1E21;
    text-align: center;
    padding: 8px 10px;
    transition: 0.5s;
    font-size: 25px;
    font-weight: bold;
    padding-right: 30px;
}
div.header {
  font-size: 40px;
  color: black;
  background-color: D1D7D8;
 font-family: cursive;
 font-varient: bold;
 text-align: left;
}
div.middle {
  font-size: 30px;
  color: black;
  background-color: D1D7D8;
 font-family: cursive;
 font-varient: bold;
 text-align: left;
}
div.body {
  font-size: 40px;
  color: black;
  background-color: D1D7D8;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
}
