
p {
    color: black;
    font-size: 30px;
    text-align: center;
    background-color: yellow;

}
div.body {
    background-color: black;
}
div.jumbotron {
  font-size: 40px;
   background-color: aqua;
}
div.button1 {
  font-size: 30px;
  background-color: red;
}
div.button2 {
  font-size: 30px;
  background-color: green;
}
div.form {
  font-size: 20px;
  background-color: orange;
}
body {
    background-color: lightblue;
    text-align: center;
}
